<header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a  href="/customer">Shop</a>
            </li>
            <li class="main-header__item">
                <a  href="/customer/orders">Orders</a>
            </li>

            <li class="main-header__item">
                <a href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a href="/admin/products">Admin Products
                </a>
            </li>
          
            <li class="main-header__item">
                <form action="/postLogout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
   </header>

